// Variables
$primary-color: #039be5;
$toolbar-height: 81px;
$logo-width: 15%;
$responsive-padding: 30%;

// Logo
.logo {
  width: $logo-width;
}
// Toolbar
.v-app-bar.v-toolbar {
  background: $primary-color;
  height: $toolbar-height;
}
.v-responsive__sizer {
  padding-bottom: $responsive-padding !important;
}
