.logo{
    width:15%;
    
}
.v-app-bar.v-toolbar{
    background: #039BE5;
    height: 81px;
}

.v-responsive__sizer{
    padding-bottom:30% !important;
}
// .pokecard{
//     overflow-y:clip;
//     width:120%;
// }
// .bg-clr{
//     background: #B3E5FC;
// }
// .bg-fav{
//     background:#f0f0f0;
//     border:2px solid #FFC107;
// }
// .mr-20{
//     margin-right:90px !important;
// }